#navbar {
	position: fixed;
    background-color: #121212;
	
	top: -0px;
    left: -1px;
	
	padding: 16px;
	width: 100%;
	height: 30px;
	
	display: flex;
    align-items: center;
	z-index:100;
} 

body {
	background-color: #242424;
}

* {
	font-family:'Roboto';
	font-weight: 300;
}

.link {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:175%;
	margin-right:15px;
}

.linkmedium {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:150%;
}

.linkmedium:hover {
	font-size:170%;
	color:#00CCFF;
}

.linkbig {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:325%;
}

.linkbig:hover {
	font-size:350%;
	color:#00CCFF;
}

.infolink {
	color:#ff0055;
	text-decoration: none;
	transition-duration: 0.4s;
	font-size:200%;
}

.infolink:hover {
	font-size:230%;
	color:#00CCFF;
}

#box {
	position:fixed;
	top:30px;
	color:white;
	text-align:center;
	width:100%;
	height: calc(100% - 30px);
	display:flex;
	justify-content:center;
	align-items:center;
}
#content {
	width:90%;
}

#page {
	position:fixed;
	width:100%;
	top:1.5%;
	left:0%;
	padding:2%;
}
#policy {
    position:fixed;
    width:50%;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.blog {
  background-color: #202020;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #212121;
  width: 50%;
  height: 40%;
  border-radius: 12.5px;
}

.blog:hover {
  background-color: #2D2D2D;
  color: white;
}

#novercontent {
	position:fixed;
	
	color:white;
	text-align:center;
	left: 50%;
	top: 15%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
    align-items: center;
}

.title {
	font-size:369%;
	color:white;
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
	margin-bottom:30px;
	margin-top:0px;
}

.info {
	font-size:200%;
	color:white;
	margin:0;
	display: inline;
}

.link:hover {
	font-size:200%;
	color:#00CCFF;
}

@keyframes pulse {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #00CCFF;
  }
  100% {
    color: #FFFFFF;
  }
}
