#navbar {
	position: fixed;
    background-color: #121212;
	
	top: -0px;
    left: -1px;
	
	padding: 16px;
	width: 100%;
	height: 30px;
	
	display: flex;
    align-items: center;
	z-index:100;
} 
#navbar-left {
	left:0;
	text-align:left;
	width:100%;
}
#navbar-right {
	right:0;
	text-align:right;
	width:100%;
	padding:16px;
}

body {
	background-color: #242424;
}

#page {
	position: fixed;
	left:0;
	top:0;
	width:100%;
	height:100%;
	display: flex;
	justify-content:center;
	align-items:center;
}


.bytefield {
	display: flex;
	box-sizing: border-box;
	margin-top:10px;
	color:white;
	background-color:#181818;
	font-family:'Roboto';
	border-width: 0;
	min-height:50px;
	width:250px;
	text-align:center;
	font-size:20px;
	outline: none;
}
.bytebtn {
	transition-duration:.4s;
	display: flex;
    align-items: center; 
    justify-content: center;
	text-decoration:none;
	margin-top:10px;
	color:white;
	background-color:#181818;
	font-family:'Roboto';
	border-width: 0;
	min-height:50px;
	width:250px;
	font-size:20px;
	outline: none;
}
.bytebtn:hover {
	color:#00CCFF;
	background-color:#121212;
	cursor:pointer;
}

#sheepcontainer {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-wrap: wrap;
	text-align:center;
}

* {
	font-family:'Roboto';
	font-weight: 300;
}

.link {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:175%;
	margin-right:15px;
}

.linkmedium {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:150%;
}

.linkmedium:hover {
	font-size:170%;
	color:#00CCFF;
}

.linkbig {
	text-decoration: none;
	color:white;
	transition-duration: 0.4s;
	font-size:325%;
}

.linkbig:hover {
	font-size:350%;
	color:#00CCFF;
}

.infolink {
	color:#ff0055;
	text-decoration: none;
	transition-duration: 0.4s;
	font-size:200%;
}

.infolink:hover {
	font-size:230%;
	color:#00CCFF;
}

#box {
	background-color:#181818;
	position:fixed;
	color:white;
	text-align:center;
	width:65%;
	height: 75%;
	left: 50%;
	top: 54%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#content {
	position:fixed;
	
	color:white;
	text-align:center;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 90%;
    align-items: center;
}

#policy {
    position:fixed;
    width:50%;
    left:50%;
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
}

.blog {
  background-color: #202020;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border: 2px solid #212121;
  width: 50%;
  height: 40%;
  border-radius: 12.5px;
}

.blog:hover {
  background-color: #2D2D2D;
  color: white;
}

#novercontent {
	position:fixed;
	
	color:white;
	text-align:center;
	left: 50%;
	top: 15%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	
    align-items: center;
}

.title {
	font-size:369%;
	color:white;
	animation-name: pulse;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}

.info {
	font-size:200%;
	color:white;
}

.link:hover {
	font-size:200%;
	color:#00CCFF;
}

@keyframes pulse {
  0% {
    color: #FFFFFF;
  }
  50% {
    color: #00CCFF;
  }
  100% {
    color: #FFFFFF;
  }
}

#statscont {
	background: #181818;
	padding: 20px;
	text-align: left;
	display: block;
	margin-top:20px;
}

.ranking-line {
	display: flex;
	color:white;
	text-align:left;
	justify-content: space-between;
	width: 100%;
	margin-right:20px;
	white-space: nowrap;
	font-size:20px;
}

.ranking-line .placement {
	text-decoration: none;
	color: gray;
	text-align: right;
	flex-shrink: 0;
}
.ranking-line .player {
	text-decoration: none;
	color: white;
	text-align: right;
	flex-shrink: 0;
}
.ranking-line .value {
	text-decoration: none;
	color: white;
	text-align: right;
	flex-shrink: 0;
}
.break {
	flex-basis: 100%;
	height: 0;
}
#bluehover {
	transition-duration: 0.4s;
	color:white;
}
#bluehover:hover {
	transition-duration: 0.4s;
	color:#00CCFF;
}